<!-- Outreach section -->

<hr>
<div class="row" id="outreach">
    <div class="col">
        <h2 class="mb-5">{{ site.data.outreach['mini-projects'].title }}</h2>
        {% for section in site.data.outreach['mini-projects'].sections %}
            <div class="skills-section">
                <h4>{{ section.title }}</h4>
                <ul>
                    {% for item in section.content %}
                        <li>{{ item }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
</div>